colorama
pyperclip
google-generativeai
grpcio==1.60.1
python-dotenv
PyQt5
jsonschema
jsonpickle
# Build UI version
pyinstaller
pillow
svg2png # requires Inkscape to be installed & in the PATH